.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#000c7a, #0014c7);
}

.title {
  font-size: 5rem;
  color: #fff;
  animation: flipTitle 2s;
}

@keyframes flipTitle {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@media (max-width: 620px) {
  .title {
    font-size: 60px;
  }

  .main {
    width: 80%;
    min-height: 250px;
  }

  .main h2 {
    font-size: 28px;
  }
}
