.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#000c7a, #0014c7);
}

.title {
  font-size: 5rem;
  color: #fff;
  animation: flipTitle 2s;
}

@keyframes flipTitle {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.containerInput {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 34px 0;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);

  display: flex;
}

.containerInput input {
  background-color: transparent;
  border: 0;
  font-size: 1.25rem;
  color: #fff;
  margin-right: 8px;
}

.containerInput input::placeholder {
  color: #d5d5d5;
}

.buttonSearch {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.buttonSearch:hover {
  transform: scale(1.2);
}
